body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}
h1, h2 {
    color: #333;
}

.produto {
    margin-bottom: 20px;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}